*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
*.dat
/target/
/build/
/out/
/.idea/
/*.iml
/.vscode/
/.settings/
/nbproject/
/dist/
/node_modules/
/bower_components/
/lib/
/vendor/
*.keystore
*.p12
*.pem
/.env
/.env.*
secret.*
.DS_Store
Thumbs.db
.directory
